graft tigerlily
graft tests

prune docs
prune dataset
prune examples
prune images
prunt script

include LICENSE README.md CONTRIBUTING.md
include *.ipynb
include *.pdf
include .coveragerc
exclude tox.ini .pre-commit-config.yaml dev_setup.sh readthedocs.yaml pull_request_template.md
recursive-include script *.gqsl
